{
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "indent": [
      2,
      2
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "no-unused-vars": [
      2, {
        "args": "all",
        "argsIgnorePattern": "^_" // any function argument prefixed with '_' is allowed to be unused
      }
    ]
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "globals": { },
  "extends": "eslint:recommended"
}
